<div class="page home">
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6 page-title">
        <h2>
          <img src="https://image.flaticon.com/icons/svg/1617/1617767.svg" width="40px;" alt="" class="mr-3">
          <span>Todo List APP</span>

        </h2>

      </div>
      <div class="col-md-6">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput value="" placeholder="Yeni iş ekle" #newTodo>
          </mat-form-field>
          <button mat-button mat-raised-button color="primary" type='submit' (click)="addTodo(newTodo)" >Ekle +</button>
        </form>

      </div>
    </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-md-12 ">
            <mat-card class="d-flex mainbox p-4">
                <div class="example-container">
                    <h5>Bekleyenler</h5>
                    <div
                      cdkDropList
                      #pendingList="cdkDropList"
                      [cdkDropListData]="data.pendings"
                      [cdkDropListConnectedTo]="[inProgressList]"
                      class="example-list"
                      (cdkDropListDropped)="drop($event)">
                      <div class="example-box" *ngFor="let item of data.pendings" cdkDrag>
                        <img src="https://image.flaticon.com/icons/svg/148/148937.svg" width="25" class="mr-2" alt="">
                          {{item}}</div>
                    </div>
                  </div>

                  <div class="example-container">
                      <h5>Yapım Aşamasında Olanlar</h5>
                      <div
                        cdkDropList
                        #inProgressList="cdkDropList"
                        [cdkDropListData]="data.inProgress"
                        [cdkDropListConnectedTo]="[pendingList,doneList]"
                        class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of data.inProgress" cdkDrag>
                          <img src="https://image.flaticon.com/icons/svg/747/747112.svg" width="25" class="mr-2" alt="">
                          {{item}}</div>
                      </div>
                    </div>

                    <div class="example-container">
                        <h5>Tamamlananlar</h5>
                        <div
                          cdkDropList
                          #doneList="cdkDropList"
                          [cdkDropListData]="data.done"
                          [cdkDropListConnectedTo]="[inProgressList]"
                          class="example-list"
                          (cdkDropListDropped)="drop($event)">
                          <div class="example-box" *ngFor="let item of data.done" cdkDrag>
                            <img src="https://image.flaticon.com/icons/svg/2620/2620818.svg" width="25" class="mr-2" alt="">
                              {{item}}</div>
                        </div>
                      </div>
            </mat-card>
        </div>
      </div>
    </div>
</div>